body {
	background:#ccc;
	margin-left:auto;
	margin-right:auto;
	font-family:Tahoma, sans-serif,"微软雅黑";
	color:#333; 
	font-size: 16px;
}

.container{
	overflow: hidden;  
	background:white;
	margin:0 auto;
	padding:0 10px;
	width: 1030px;
	margin-top: 40px;
}

#content{
	float:left;
	width:790px;
	padding-left:10px;
}

.justcenter{
	text-align: center;
}

blockquote {
	padding: 0.4em; 
	border-left:2px solid #888;
}

h1,h2 { border-bottom:1px solid #CCCCCC; margin-bottom:8px; padding-bottom:4px; }
h1,h2,h3,h4,h5,h6 { color:#333; text-shadow:2px 2px 2px #E6E6E6; clear:both; font-family:"微软雅黑";}
h1 { font-size:24px; border-bottom:3px solid #CCCCCC;}
h2 { font-size:18px; }
h3 { font-size:16px; }
pre {
    white-space: pre-wrap;  /* FireFox */
    word-wrap: break-word;  /* IE 5.5+ */
}
a,a:hover,a:visited { color:#0645AD; text-decoration:none; padding-left:2px; padding-right:2px; }
a:hover { text-decoration:underline; }
table { border-collapse:collapse; border:1px solid gray; margin: 8px 0 8px 0;}
th, td { border:1px solid gray; padding:2px 8px 2px 8px; }
header, nav, footer, article { display:block; }
header { border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; padding:4px 0 4px 4px; }
nav { width:20%; float:left; border: 1px solid #CCCCCC; font-size:90%; margin-bottom:8px; }
nav ul { list-style:none outside none; padding-left:16px; }
nav h3 { padding-left:16px; }
article { width:78%; float:right; padding-bottom:8px; }
footer { 
	clear:both;
	text-align: center;
	border-top: 1px solid #CCCCCC;
	font-size:90%;
}

.search { float:right; vertical-align:middle; }
.clear { clear:both; }
.myn  { color:gray; }        /* my notes */
.myn2 { color:#3B9C9C; xfont-weight:bold; }        /* my notes */
.year, .abbrc, .imp { color:#348017; }
nav canvas { width:100%; font-size:16px; }
.myhr  { border-bottom:1px solid #E6E6E6; margin:14px 0px 14px 0px; }
.myhr2 { height:4px; border-bottom:1px solid #E6E6E6; border-top:1px solid #E6E6E6; margin:14px 0px 14px 0px; }
.quote { text-align:right; margin:4px 0 4px 0; color:gray; }
.cmdopts, .lcmdopts { border:1px solid #E6E6E6; padding:8px 8px 8px 8px; }
.cmdopts dt, .lcmdopts dt { clear: left; float: left; text-align: right; width: 100px; color:#348017; border-right:1px solid #E6E6E6; padding-right: 12px; }
.cmdopts dd { margin-left: 120px; }
.lcmdopts dt { width: 220px; }
.lcmdopts dd { margin-left: 240px; }
.fimg { float:left; }
img {}
canvas { border:1px solid #E6E6E6; margin: 0 16px 4px 0; padding: 8px 8px 8px 8px; }
.ltitle { background-color:#E6E6E6; padding:4px 0 4px 8px; }
.example:before, .example:after { display:table; content:""; line-height:0; }
.example:after { clear:both; }
.radic { text-decoration:overline; }
.wradic { white-space:nowrap; font-size:small; }
.backtotop { display:none; width:18px; line-height:1.2; padding: 5px 0; background-color:#E6E6E6; font-size:12px; text-align:center; position:fixed; right:10px; bottom: 100px; cursor:pointer; opacity:.6; filter:Alpha(opacity=60);}
pre.poem { font-size:15px; color:black; }
.border { border:1px solid #E6E6E6; padding: 8px 8px 8px 8px; }
code{padding:2px 4px;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8;}

#nav{
	float:left;
	width: 220px;
	margin-left:10px;
}

#nav ul{
	list-style-type: none;
	padding-left:10px;
	margin:0;
}

#nav h2{
	border:#CCC solid 1px;
	margin-bottom: 0;
}

#nav_content{
	border-left:#CCC solid 1px;
	border-right:#CCC solid 1px;
	border-bottom:#CCC solid 1px;
}


.navbar{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
	background-color: #2C2C2C;
}

.navbar-container{
	overflow: hidden;
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
	
}

#nav_content li{
	text-overflow:clip;
}

a.brand{
	float:left;
	display: block;
	color: white;
	padding: 8px 20px 12px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
	text-decoration: none;
}

.navbar .nav{
	position: relative;
	display: block;
	float: left;
	margin:0;
}

.navbar .nav > li {
	display: block;
	float: left;
	color: white;
}

.navbar .nav > li > a {
	float: none;
	display: block;
	padding: 10px 10px 11px;
	line-height: 19px;
	color: #999;
	text-decoration: none;
}

.navbar a {
	font-family:"微软雅黑";
}

.go2top{
	position: fixed;
	width: 50px;
	height: 50px;
	text-align: center;
	bottom: 110px;
	right: 50px;
	background:#aaa url('go2top.png') no-repeat top left;
}

.go2top:hover{
	background-color: #888;
}
