body {
    margin: 1em 10% 1em 10%; 
    font-size: 100%;
    font-family : Bitstream Vera Sans, Lucida Sans, SimSun, 宋体, sans-serif;
    color: black;
    background : white;
}
.tabBodyFrame {
    margin-left: 28%;
    margin-right: 28%;
}
.tabBody {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    border: 2pt solid #ffa500;
    background : white;
    text-align: justify;
    display: block;
    max-width: 1000px;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    background-color: #ffe4c4;
}
code {
    font-family : Bitstream Vera Sans Mono, Courier New, Courier, monospace;
}
.code {
    font-family : Bitstream Vera Sans Mono, Courier New, Courier, monospace;
    border: #777777 1px solid;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.5em;
    font-size: 9pt;
    overflow: auto;
}
.verbatim {
    font-size: 9pt;
}
h1 {
    font-family : Arial, Bitstream Vera Sans, Lucida Sans, 黑体, sans-serif;
    margin-top: 28pt;
    margin-bottom: 4pt;
    padding-bottom: 10pt;
    font-size: 22pt;
    border-bottom: 4px solid #ffa500;
}
h2 {
    font-family : Arial, Bitstream Vera Sans, Lucida Sans, 黑体, sans-serif;
    margin-top: 20pt;
    margin-bottom: 4pt;
    font-size: 16pt;
    border-bottom: 2px solid #ffa500;
}
h3 {
    font-family : Arial, Bitstream Vera Sans, Lucida Sans, 黑体, sans-serif;
    margin-top: 16pt;
    margin-bottom: 4pt;
    font-size: 14pt;
    border-bottom: 1px dashed #ffa500;
}
h4 {
    font-family : Bitstream Vera Sans, Lucida Sans, SimSun, 宋体, sans-serif;
    margin-top: 10pt;
    margin-bottom: 4pt;
    font-size: 12pt;
}
h5 {
    font-family : Bitstream Vera Sans, Lucida Sans, SimSun, 宋体, sans-serif;
    margin-top: 10pt;
    margin-bottom: 3pt;
    font-size: 12pt;
}
h6 {
    font-family : Bitstream Vera Sans, Lucida Sans, SimSun, 宋体, sans-serif;
    margin-top: 10pt;
    margin-bottom: 3pt;
    font-size: 12pt;
}
li {
    line-height: 150%;
}
p {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 13pt;
    line-height: 130%;
}
ul {
    margin-top: 6px;
    margin-bottom: 6px;
}
img {
    border: 0;
}
pre, blockquote, table{
    margin: 0.5em 0 1em;
}
blockquote, pre {margin-top: 1em; margin-bottom: 1em;}
pre {margin-top: 0; margin-bottom: 0; font-size: 14px;	background-color:#eeeeee;	border: 1px solid #ccc;	padding: 5px 5px 5px 5px;}
table {margin-left: 2em;}
blockquote {padding: 0.4em; background-color: #f6f5eb;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}

#bottom {
    margin-top: 9pt;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    height: 60px;
}
#vimlogo, #deplatelogo, #adsense, #s51la {
    display: inline-block;
    vertical-align: middle;
}


#main {
    padding: 10px 20px;
    position: relative;
}


#top-nav {
    position: relative;
    top: 4px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 60px;
    overflow: hidden;
    zoom: 1;
}

#top-nav li {
    float: left;
    list-style: none;
    margin-right: 30px;
}
#top-nav a{
    display: block;
    padding: 6px 20px;
    background: #022538;
    background-color: rgba(8,32,50,0.85);
    background: -webkit-gradient(linear, 0 0, 0 90%, from(rgba(12,46,65,0.7)), to(rgba(0,35,0,54,0.9)));
    border: 1px solid #3A4D5B;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 1px;
    -moz-border-radius: 1px;
    color: #abc;
    text-shadow: 0 1px 0 #000;
    box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;
}

#top-nav a:hover, #top-nav a:focus {
    color: #f3f3f3;
    border-color: rgba(255,255,255,0.35);
    background: -webkit-gradient(linear, 0 0, 0 95%, from(rgba(20,56,76,0.8)), to(rgba(0,40,60,1)));
    box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
}

#footer {
    margin-top: 20px;
    text-align: center;
    border: 5px solid #ffa500;
    border-width: 1px 1px;
}

#footer p{
    padding: 1em;
    margin: 0;
}
#footer a{
    color: #967;
}
#footer a:hover {
    border-bottom: 1px solid #967;
}
