body {
    margin: 0px auto 0px;
    font-family: tahoma, 宋体, verdana, arial, sans-serif;
    color: black;
    text-align:center;
    background-color:#FAFAFA;
}
.tabBodyFrame {
    margin-left: 28%;
    margin-right: 28%;
}
.tabBody {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    border: 2pt solid #ffa500;
    background : white;
    text-align: justify;
    display: block;
    max-width: 1000px;
}
/************************************************
* *	Header  								
**************************************************/
#header {
    width: 960px;
    height: 110px;
    text-align:left;
    font-size: 16px;
    font-weight: normal;
    margin: 0px auto 0px;
    padding: 0px;
    overflow: hidden;
    background:url(images/header_bg.png) no-repeat;
}

#header p {
    padding: 0px 0px 5px 0px;
    font-weight: bold;
    margin: 0px;
    line-height: 20px;
    color: #FFFFFF;
}

#header h1 {
    font-size: 36px;
    font-family: Times New Roman, Georgia, Trebuchet MS;
    font-weight: bold;
    margin: 0px;
    padding: 20px 0px 0px 18px;
    text-decoration: none;
    color: #FFFFFF;
}

#header h1 a, #header h1 a:visited {
    font-size: 36px;
    font-family: Times New Roman, Georgia, Trebuchet MS;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    text-decoration: none;
    color: #FFFFFF;
}

#header h1 a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

#headerlogo{
    width: 400px;
    float: left;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: #FFFFFF;
}

#headerlogo p{
    padding-left: 18px;
}

#headernav{
    float: right;
    margin: 0px;
    padding: 65px 0px 0px 0px;
    text-align: left;

}

#nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#nav a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin: 0px 20px 0px 0px;
    padding: 8px 10px 7px 10px;
}

#nav a:hover {
    background: #4A7EB8;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
    padding: 8px 10px 7px 10px;
}

#nav li {
    float: left;
    margin: 0px;
    padding: 0px;
}

#nav li li {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 140px;
}

#nav li li a, #nav li li a:link, #nav li li a:visited {
    background: #4A7EB8;
    color: #FFFFFF;
    width: 140px;
    float: none;
    margin: 0px;
    padding: 6px 10px 5px 10px;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

#nav li li a:hover, #nav li li a:active {
    background: #1A4E88;
    color: #FFFFFF;
}

#nav li ul {
    position: absolute;
    width: 10em;
    left: -999em;
}

#nav li:hover ul {
    left: auto;
    display: block;
}

#nav li:hover ul, #nav li.sfhover ul {
    left: auto;
}
/*****************************************
 * end of header
*****************************************/

/***************************************
 * wrap
****************************************/
#wrap {
    width:960px;
    margin:50px auto 0px;
    text-align:left;
}


a {
color: blue;
text-decoration: none;
}
a:hover {
	color: #7DAE12;
	text-decoration: underline;
}
code {
font-family : Bitstream Vera Sans Mono, Courier New, Courier, monospace;
}
.code {
font-family : Bitstream Vera Sans Mono, Courier New, Courier, monospace;
border: #777777 1px solid;
margin-left: 2em;
margin-right: 2em;
padding: 0.5em;
font-size: 9pt;
overflow: auto;
}
.verbatim {
font-size: 9pt;
}
h1 {
font-family : Arial, Bitstream Vera Sans, Lucida Sans, 黑体, sans-serif;
margin-top: 28pt;
margin-bottom: 4pt;
padding-bottom: 10pt;
font-size: 22pt;
}
h2 {
font-family : Arial, Bitstream Vera Sans, Lucida Sans, 黑体, sans-serif;
margin-top: 20pt;
margin-bottom: 4pt;
font-size: 16pt;
border-bottom: 2px solid #ffa500;
}
h3 {
font-family : Arial, Bitstream Vera Sans, Lucida Sans, 黑体, sans-serif;
margin-top: 16pt;
margin-bottom: 4pt;
font-size: 14pt;
border-bottom: 1px dashed #ffa500;
}
h4 {
font-family : Bitstream Vera Sans, Lucida Sans, SimSun, 宋体, sans-serif;
margin-top: 10pt;
margin-bottom: 4pt;
font-size: 12pt;
}
h5 {
font-family : Bitstream Vera Sans, Lucida Sans, SimSun, 宋体, sans-serif;
margin-top: 10pt;
margin-bottom: 3pt;
font-size: 12pt;
}
h6 {
font-family : Bitstream Vera Sans, Lucida Sans, SimSun, 宋体, sans-serif;
margin-top: 10pt;
margin-bottom: 3pt;
font-size: 12pt;
}
li {
line-height: 150%;
}
p {
margin-top: 3px;
margin-bottom: 3px;
font-size: 13pt;
line-height: 130%;
}
ul {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 10px;
    -webkit-padding-start:10px;
}
ol {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 19px;
    -webkit-padding-start:10px;
}
img {
    border: 0;
}
pre, blockquote, table{
    margin: 0.5em 0 1em;
}
blockquote, pre {margin-top: 1em; margin-bottom: 1em;}
pre {
    word-wrap:break-word; 
    overflow:hidden;
    margin-top: 0; 
    margin-bottom: 0; 
    margin-right: 0;
    font-size: 14px;	
    background-color:#eeeeee;	
    border: 1px solid #ccc;	
    padding: 5px 5px 5px 5px;
}
table {margin-left: 2em;}
blockquote {padding: 0.4em; background-color: #f6f5eb;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}

#bottom {
    margin-top: 9pt;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    height: 60px;
}
#vimlogo, #deplatelogo, #adsense, #s51la {
    display: inline-block;
    vertical-align: middle;
}


#main {
    padding: 10px 20px;
    position: relative;
}


#top-nav {
    position: relative;
    top: 4px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 60px;
    overflow: hidden;
    zoom: 1;
}

#top-nav li {
    float: left;
    list-style: none;
    margin-right: 30px;
}
#top-nav a{
    display: block;
    padding: 6px 20px;
    background: #022538;
    background-color: rgba(8,32,50,0.85);
    background: -webkit-gradient(linear, 0 0, 0 90%, from(rgba(12,46,65,0.7)), to(rgba(0,35,0,54,0.9)));
    border: 1px solid #3A4D5B;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 1px;
    -moz-border-radius: 1px;
    color: #abc;
    text-shadow: 0 1px 0 #000;
    box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;
}

#top-nav a:hover, #top-nav a:focus {
    color: #f3f3f3;
    border-color: rgba(255,255,255,0.35);
    background: -webkit-gradient(linear, 0 0, 0 95%, from(rgba(20,56,76,0.8)), to(rgba(0,40,60,1)));
    box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
}

#footer {
    width:960px;
    margin:0px auto 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    border: 5px solid #ffa500;
    border-width: 1px 1px;
}

#footer p{
    padding: 1em;
    margin: 0;
}
#footer a{
    color: #967;
}
#footer a:hover {
    border-bottom: 1px solid #967;
}
